.loginContainer{
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px 5px #888888;
}

.logo{
    color: #00509d;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

form{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

input{
    width: 100%;
}

.loginBtn{
    width: auto;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background-color: #00509d;
    cursor: pointer;
}

.failure{
    color: red;
    font-size: 12px;
    text-align: center;
}

.loginCancel{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

}