@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  /* box-sizing: border-box; */
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 250px;
  /* z-index: 1000; */
}

label {
  color: #00509d;
  font-size: 1rem;
  border-bottom: 1px solid #00509d;
  width: 80%;
  margin: 5px 0;
}

.place{
  font-size: 1rem;
}

.desc{
  font-size: 1rem;
}

.star{
  color: #d00000;
}

.username{
  font-size: 1rem;
}

.date{
  font-size: 0.8rem;
}

form{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea{
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  width: 80%;
}

.titleInput{
  width: 80%;
}

input::placeholder, textarea::placeholder{
  font-size: 0.8rem;
  color: rgb(182, 182, 182);
  width: 80%;
}

select{
  width: 80%;
  border-color: rgb(182, 182, 182);
  /* cursor: pointer; */
}

.submitButton{
  border: none;
  padding: 5px;
  border-radius: 0.3rem;
  width: 80%;
  background-color: #00509d;
  color: white;
  cursor: pointer;
}

.button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout{
  background-color: #00509d;
  padding: 10px;
}

.login{
  background-color: #00509d;
  margin-right: 10px;
  padding: 10px;
}

.register{
  background-color: #00509d;
  padding: 10px;
}

.buttons, .logout{
  position: absolute;
  top: 10px;
  right: 10px;
}